@model IEnumerable<Web.ViewModels.SanPhamVM>
@{
    ViewData["Title"] = "Search";
    Layout = "_DanhSachSP";
}

<!-- Menu Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Menu</h4>
            <form class="form-inline my-2 my-lg-0" action="@Url.Action("Search", "SanPham")" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search" name="query">
                <button type="submit" class="btn btn-outline-warning">Tìm kiếm</button>
            </form>
        </div>
        <div class="row">
            <!-- Bắt đầu một hàng mới -->
            @foreach (var item in Model)
            {
                <div class="col-lg-6 mb-4">
                    <!-- Mỗi sản phẩm chiếm 6 cột trên màn hình lớn và có khoảng cách dưới -->
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="card-img" src="~/Hinh/SanPham/@item.Hinh" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@item.TenSP</h5>
                                    <!-- Các thông tin khác của sản phẩm -->
                                    <h5 class="card-price">@item.DonGia</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div> <!-- Kết thúc hàng -->
    </div>
</div>
<!-- Menu End -->
